<% provide(:title, "About") %>
<h1 style="color:#fff;font-family:Comic Sans MS, cursive, sans-serif;">About</h1>
<p style="color:red;border-radius:6px;background-color:#E8E8E8;padding : 10px 10px 10px 10px ;text-align: center;">
Our application is a social community between pet’s owners, it will support them with all information they will
need about their pet life.
All credits to ruby on rails tutorial.
</p>