<% provide(:title, "Contact") %>
<h1 style="color:#fff;font-family:Comic Sans MS, cursive, sans-serif;">Contact</h1>
<p style="color:red;border-radius:6px;background-color:#E8E8E8;padding : 10px 10px 10px 10px ;text-align: center;">
There is no contact :P
</p>