<% provide(:title, "Help") %>
<h1 style="color:#fff;font-family:Comic Sans MS, cursive, sans-serif;">Help</h1>
<p style="color:red;border-radius:6px;background-color:#E8E8E8;padding : 10px 10px 10px 10px ;text-align: center;">
Please when you need a helping hand don't hesitate and visit <a href="http://localhost:3000/contact">Contact</a>
</p>