<% provide(:title, "Help") %>
<h1 style="color:#000;font-family:Comic Sans MS, cursive, sans-serif;">Help</h1>
<p style="color:red;border-radius:6px;background-color:#e9ebee;padding : 10px 10px 10px 10px ;text-align: center;">
 <a href="http://localhost:3000/contact">Contact</a>
</p>