<% provide(:title, params[:search]) %>
<% if @users.present? %>
<ul class="users" >
		<%= render @users %>
</ul><% else %>
<h1 style="color:#fff;font-family:Comic Sans MS, cursive, sans-serif;">There are no users have this name <%= params[:search]%> </h1>

<% end %>



