<div class="row">
	<aside class="col-md-5 col-md-offset-3" style="margin-left: 30%" >
		<div class="homepost">
			<h4 style ="color:white;font-weight: bold;text-align:center;border-radius:6px;background-color:#1e87f0;padding :10px 10px 10px 10px ;">Edit post</h4>
			<section class="post_form">
				<%= render 'shared/post_form' %>
			</section>
		</div>
	</aside>
</div>